* {
    box-sizing: border-box;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
body {
    margin: 0;
    background-image: url('images/3d-background-with-white-cubes.jpg');
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-position: center;
}

/* Navbar Styling*/

nav {
    background-color: #ffffff;
    padding: 0 30px;
    margin-bottom: 70px;
    width: 100%;
}
.logo{
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin: 10px;
    padding: px;
    font-size: 17px;
    font-weight: bold;
}
p {
    margin: 10px;
}
.navdiv {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
li {
    display: inline-block;
    list-style-type: none;
}
li a {
    color: black;
    text-decoration: none;
    font-size: 17px;
    font-weight: bold;
    margin: 15px;
}

/* Content Styling*/
section {
    display: flex;
    align-items: center;
    justify-content: center;
}
.content {
    text-align: center;
    margin: 90px;
}
.content h1 {
    font-family: sans-serif;
    text-align: center;
    font-size: 3.7em;
    margin-bottom: 0;
}
.social {
    justify-self: flex-start;
    background-color: white;
    text-align: center;
}
.media {
   display: flex;
   flex-direction: column;
   padding: 12px;
   padding-left: 5px;
}
.content_p {
    font-size: 17px;
    margin-bottom: 30px;
}
button {
    font-size: 16px;
    font-weight: bolder;
    background-color: gold;
    border-radius: 7px;
    border-color: gold;
    width: 250px;
    padding: 15px;
}